.header {
    font-size: 28px;
    font-weight: normal;
    margin: 20px 0;
    text-align: center;
}

.logoImg {
    display: inline-block;
    width: 110px;
    height: 28px;
    background: whitesmoke;
}
